extends ../layouts/default

block content
    .section.section--first
            .introduction

                //- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
                //- ... or completely change this header to suit your design.

                a.introduction--logo-white(href='/') Tiny Love
                //- ul
                //-     each link in navLinks
                //-         li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
                ul.introduction__access
                    if user
                        if user.canAccessKeystone
                            li: a(href='/keystone') Open Admin
                        li: a(href='/keystone/signout') Sign Out
                    else
                        li: a(href='/keystone/signin') Sign In

                h2.introduction__headline An emotional headline that captures the spirit of becoming a doula.
                if !user

                    a(href='/user/signup').button.button--red Signup for the program!
                    p.scroll-instructions Still curious? Keep scrolling.
                    i.icon-arrows_down_double

    .section.section--white
        .how-it-works
            h2 How does the program work?
            h3 We’ve designed this program so that you need no prior experience to jump right in.
            p We created a mix of online materials and real world experiences. It consists of books, videos, articles, and practical activities to help you start your business as a doula.
            p Rather than bore you with a pre-recorded siminar, we leverage resources in your community and on the web to keep your learning experience fun and engaging. The assignments are designed to help you network and start becoming active in and around your city or town.
            p We’ve poured the experience of over 1400 births into the course and know you will find it to be a valuable, business-building, active training program. Its concise and fulfilling and will prepare you for a future of doula practice.
            
            a.button.button--small(href='#tips-modal') Tips to succeed
            .remodal(data-remodal-id='tips-modal', role='dialog', aria-labelledby='tipsModalTitle')
              button.remodal-close(data-remodal-action='close', aria-label='Close')
              div
                h2#tipsModalTitle How to get the most of the course.
                h3 Get inspired.
                p This program is designed to be interactive, it encourages you to go in to your community. engage with birth professionals and expecting/postpartum families, we realize that this can be intimidating at first, but once you make these efforts, it   will get easier and you will be well on your way in becoming a skilled professionally certified birth doula.
                h3 Work at your own speed.
                p We recommend working at whatever pace allows you to absorb the information and feel prepared. If you go too quickly, the information may not “sink in”, and if you go too slowly, you may forget essential information and may not feel as inspired. So, find what pace works for you and your family.
                h3 Be organized.
                p You will keep a portfolio - a designated folder where you keep all of your doula training related papers. You will find that when you start meeting people in your community you will start to get lots of business cards and pamphlets, try and keep them together. Once you complete your portfolio, you will find it will be much easier if you’ve been organized from the beginning.
                h3 Keep a journal.
                p If you’ve never kept a journal before or if you’ve always had one, this would be a great time in your life to journal about your blossoming doula experience. Through this process of becoming certified, lots of folks have life changing and eye opening discoveries about themselves, these feelings and experiences can feel very intense, joyous, or just confusing. Writing a journal can be a wonderful tool for self discovery.
                h3 Meet other doulas.
                p We highly recommend meeting other doulas in your community, online, or anywhere you can find them. Having support from someone who can understand your experiences can be one of the most valuable professional relationships you can have. Being at a birth and processing all the intense emotions, procedures, events, and outcomes that you have just witnessed, can be overwhelming, to have a friend to process these events with can make these moments not only less intense, but also more joyful.
                h3 Your portfolio.
                p Keep your portfolio up to date and organized with all of your assignments and notes. This is evidence that you completed the work and may be audited. The work is not only required for certification but provides you with a useful start in your business.
                
              //- button.button.remodal-cancel(data-remodal-action='cancel') Cancel
              button.button.button--green(data-remodal-action='confirm') Cool. I can do that!
            //- end .remodal

    .section.section--tan
        .requirements
            h2 What are the requirements?
            ul.two-column
                li Access to computer or mobile device with a web browser.
                li Complete the online modules.
                li Obtain three evaluations from Mother and Partner or other family or friend.
                li Sign a commitment to operate within the Tiny Love Standards of Practice
                li Read the required reading materials.
                li Access to the internet through a computer, tablet, or smartphone.
                li Attend a free childbirth class, (you may be required to pay a fee to attend a class if you cannot find a free on in your area).

    .section.section--white
        .books
            h2 What books will I need?
            a.book-link.book-link--required(href="http://www.amazon.com/Birth-Partner-Complete-Childbirth-Companions/dp/155832819X/ref=sr_1_1", target="_blank")
                img(src="images/book-birth-partner@2x.png", alt="The Birth Partner - Revised 4th Edition: A Complete Guide to Childbirth for Dads, Doulas, and All Other Labor Companions")
            a.book-link.book-link--required.book-link--wide(href="http://www.amazon.com/Doula-Book-Companion-Healthier-Lawrence/dp/0738215066/ref=sr_1_1", target="_blank")
                img(src="images/book-doula-book@2x.png", alt="The Doula Book: How a Trained Labor Companion Can Help You Have a Shorter, Easier, and Healthier Birth (A Merloyd Lawrence Book)")
            a.book-link.book-link--required(href="http://www.amazon.com/Nurturing-Touch-Birth-Support-Handbook-/dp/0964115921/ref=sr_1_1?s=books&ie=UTF8&qid=1435276187&sr=1-1&keywords=the+nurturing+touch+at+birth", target="_blank")
                img(src="images/book-nurturing-touch@2x.png", alt="The Nurturing Touch at Birth: a Labor Support Handbook- Third Edition")
            a.book-link(href="http://www.amazon.com/Labor-Progress-Handbook-Interventions-Dystocia/dp/0632052813/ref=sr_1_2?s=books&ie=UTF8&qid=1435276230&sr=1-2&keywords=the+labor+progress+handbook", target="_blank")
                img(src="images/book-labor-progress@2x.png", alt="The Labor Progress Handbook: Early Interventions to Prevent and Treat Dystocia")

    .section.section--tan
        .mentors
            h2 Who are the mentors?

            .bio-teaser
                img.image-rounded(src="images/jessica.jpg", alt="Jessica", width="180")
                h3 Jessica
                p Mom of Two, Birth Doula, CPM, LM- Homebirth Midwife.
                a.button.button--small(href="#jessica-modal") More about Jessica
                .remodal(data-remodal-id='jessica-modal', role='dialog', aria-labelledby='jessicaModalTitle')
                  button.remodal-close(data-remodal-action='close', aria-label='Close')
                  div
                    h3#jessicaModalTitle Meet Jessica
                    img.article-image.article-image--fl(src="/images/jessica-work.jpg", alt="Jessica at after a birth.")
                    p Being a doula for more than 20 years and a DONA Birth Doula Trainer for 10, hastaught me that birth is normal, sacred, and something that will affect mothers, children and fathers for the rest of their lives. It sets the foundation for everything that follows. Birth (and pregnancy) teach us that we can accomplish something truly miraculous, we can give of ourselves in ways we never knew, and we can make tough decisions. It also teaches us that when we open up our body and heart, accept support from others, and connect on a deeper level, it brings out the mother in each of us.  I have mentored countless doulas, trained hundreds of birth doulas, and been fortunate enough to have shared birth with so many families from various cultural backgrounds, all while raising my own two amazing and beautiful babies. Through many years of doula training around the country, I have actively worked towards my goal as a doula and a mentor - to bring out the mother, strengthen the family bond, and provide a valuable service. I try to convey that along with sound business development advice here in this on-line course. 

            .bio-teaser
                img.image-rounded(src="images/kristen.jpg", alt="Kristen", width="180")
                h3 Kristen
                p Mom of three, Birth Doula, CPM, LDM - Midwife
                a.button.button--small(href="#kristen-modal") More about Kristen
                .remodal(data-remodal-id='kristen-modal', role='dialog', aria-labelledby='kirstenModalTitle')
                  button.remodal-close(data-remodal-action='close', aria-label='Close')
                  div
                    h3#kirstenModalTitle Meet Kristen
                    img.article-image.article-image--fr(src="/images/kristen-work.jpg", alt="Kristen at after a birth.")
                    p Over the last two decades I have devoted my knowledge, experience and practical understanding in helping to guide mothers and families during pregnancy, birth and postpartum. I have three children and three very different birth experiences. My first was born in a hospital with lots of interventions and very little support, I left that birth confused, frustrated, and in pain. I knew there had to be a better way, I vowed to offer my emotional, physical, and practical support to women in labor as often as they would let me, I had no idea that what I was doing was called a "doula".  When my second baby was born, I gave birth in a hospital with a CNM and not just one doula, but two! It was completely natural and the most empowering experience of my life. After my second son was born, I was convinced that doulas should be available to every woman that wants one and I was going to set out to make that happen. I started mentoring new doulas and simultaneously, started on my path to midwifery. Finally, I had my last baby, at home in water, with two CPM's, and an amazing doula, I couldn't have asked for a better more beautiful birth experience. I love birth, I love watching women transform into mothers, and  I love providing opportunities for women to touch another woman's life on what is arguably the most important day of her life.  Having small children and working as a doula, is not only possible, its extremely rewarding, can you think of a better reason to leave the house?

    .section.section--white
        .cost
            h2 How much does it cost?
            h3 The course is a one time cost of #[span.price $460.00]
            p While there are no fees for things like doula training organizations, packet fees, application fees, membership fees or certification renewals we do require that you purchase the books on the required reading list and highly recommend that you purchase The Labor Progress Handbook. You can find these books new or used at a local bookstore or at many online retailers.
            p Since all materials are available immediately online there are no refunds offered after you have purchased the program.
            p Payments can be made online using your credit card or your PayPal account.
            //- PayPal Logo
            table(border='0', cellpadding='10', cellspacing='0', align='center')
              tr
                td(align='center')
              tr
                td(align='center')
                  a(href='https://www.paypal.com/webapps/mpp/paypal-popup', title='How PayPal Works', onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;")
                    img(src='https://www.paypalobjects.com/webstatic/mktg/logo/bdg_now_accepting_pp_2line_w.png', border='0', alt='Now accepting PayPal')
                  div(style='text-align:center')
                    a(href='https://www.paypal.com/webapps/mpp/how-paypal-works')
                      font(size='2', face='Arial', color='#0079CD') How PayPal Works
            //- PayPal Logo

    .section.section--tan
        .get-started
            h2 Let’s get started!
            h3 You're just a few steps away from beginning your new career as a birth doula.
            a(href="/user/signup").button.button--red Sign me up!
            small Still have questions? Check out our FAQ page or send us an email and we'll get right back with an answer.
