extends ../../layouts/access-form

block content


	.single-form.get-started
		h1.single-form__title Let's get started

		form.single-form__form(method='post')
			p First let's create an account. We'll take care of the payment in a moment.
			input(type='hidden', name='action', value='signup')
			input(type='hidden', name='newDoula', value=noCaptcha)
			.form-group
				label First Name
				input(type='text', name='firstname', value=formData['firstname']).form-control

			.form-group
				label Last Name
				input(type='text', name='lastname', value=formData['lastname']).form-control

			.form-group(class=validationErrors.email ? 'has-error' : null)
				label Email
				input(type='email', name='email', value=formData['email']).form-control

			.form-group(class=validationErrors.password ? 'has-error' : null)
				label Password
				input(type='password', name='password', value=formData['password']).form-control
    
			if !noCaptcha
				div(class="form-group g-recaptcha", data-sitekey=site_key)

			.form-actions
				button(type='submit').button.button--red Sign Up!
